* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
html,
body {
  font-family: $sd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.03rem;
  @include tablet {
    font-size: 14px;
  }
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
a:link {
  text-decoration: none;
  color: inherit;
}
a,
span,
strong,
em,
i {
  font-style: normal;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
}
