@import "mixin";
@import "reset";
$color-background: #505050;
$title-text: #ffffff;

body {
  background-image: url("/image/monet.jpeg");
}

footer {
  position: relative;
  width: 100%;
  background-color: $color-background;
}

#footer-container {
  width: $pc;
  margin: 0 auto;
  padding: 35px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.portfolio {
  position: relative;
  width: 100%;
  height: 600px;
}

.footer-copyright {
  font-size: 22px;
}

.portfolio-container {
  position: relative;
  width: 1200px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-text-container {
  position: absolute;
  width: 360px;
  top: 50%;
  transform: translateY(-50%);
}

.portfolio-text-title {
  position: relative;
  margin-left: 50px;
  font-family: miso-bold;
  color: $title-text;
  font-size: 50px;
  margin-bottom: 20px;
}
