@import "mixin";
@import "reset";

header {
  position: relative;
  width: 100%;
  padding: 30px 0;
  background-color: rgba(255,255,255,.3);
  box-shadow: 2px 5px 5px rgba(0,0,0,.12);

  .nav {
    max-width: $pc;
    width: 100%;
    margin: 0 auto;
    @include flex(space-between);
    align-items: center;

    .logo {
      color: $white;
    }

    .menu ul {
      @include flex(flex-end);
      gap: 20px;
      li a{
        color: $white;
      }
    }
  }
}
