* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proton {
  width: 80px;
  height: 80px;
  background-color: deepskyblue;
  border-radius: 50%;
  position: relative;
}

.electron {
  width: 100%;
  height: 100%;
  /* background-color: black; */
  position: absolute;
  animation: rotation 3s infinite linear;
  border-radius: 50%;
  padding: 100px;
  border: 1px solid silver;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.electron::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: deeppink;
  position: absolute;
  left: -20px;
  top: -20px;
  border-radius: 50%;
  margin: 51px;
}

@keyframes rotation {
  0% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
