body {
  padding: 150px;
}
b {
  font-size: 18px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
p {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
img {
  width: 250px;
  height: 200px;
}
.heading {
  text-align: center;
}
.food-container {
  display: flex;
}
.child {
  flex: 2;
  margin: 15px;
  border: 1px solid lightgray;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
